[Unit]
Description=AWARE Webservice Receiver
After=network.target

[Service]
Type=simple
User=rantahj1
Group=rantahj1
WorkingDirectory=/home/rantahj1/aware_filter
Environment="PATH=/home/rantahj1/aware_filter/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/rantahj1/aware_filter/run-aware-filter.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target